<mat-expansion-panel    [expanded]="panelOpenState"
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        [formGroup]="commandForm">
    <mat-expansion-panel-header>
        <mat-panel-title>Command</mat-panel-title>
        <mat-panel-description>Define a Command</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
        <mat-label attr.for="command_id_{{formIndex}}">Id</mat-label>
        <input matInput id="command_id_{{formIndex}}" type="text" formControlName="id" placeholder="dtmi:com:example:Thermostat;1" />
    </mat-form-field>
    <span class="formSpacer"></span>  

    <mat-form-field appearance="fill">
        <mat-label attr.for="command_type_{{formIndex}}">Type</mat-label>
        <input matInput id="command_type_{{formIndex}}" type="text" formControlName="type" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field appearance="fill">
        <mat-label attr.for="command_name_{{formIndex}}">Name</mat-label>
        <input matInput id="command_name_{{formIndex}}" type="text" formControlName="name" />
    </mat-form-field>
    <br/>

    <mat-form-field appearance="fill">
        <mat-label attr.for="command_displayName_{{formIndex}}">Display Name</mat-label>
        <input matInput id="command_displayName_{{formIndex}}" type="text" formControlName="displayName" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field appearance="fill">
        <mat-label attr.for="command_description_{{formIndex}}">Description</mat-label>
        <input matInput id="command_description_{{formIndex}}" type="text" formControlName="description" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field appearance="fill">
        <mat-label attr.for="command_comment_{{formIndex}}">Comment</mat-label>
        <input matInput id="command_comment_{{formIndex}}" type="text" formControlName="comment" />
    </mat-form-field>
    <br/>
    
    <mat-form-field appearance="fill">
        <mat-label attr.for="command_request_{{formIndex}}">Request</mat-label>
        <input matInput id="command_request__{{formIndex}}" type="text" formControlName="request" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field appearance="fill">
        <mat-label attr.for="comman_response_{{formIndex}}">Response</mat-label>
        <input matInput id="comman_response_{{formIndex}}" type="text" formControlName="response" />
    </mat-form-field>
    <span class="formSpacer"></span>
</mat-expansion-panel>