<mat-expansion-panel class="mat-elevation-z3" [expanded]="panelOpenState" (opened)="panelOpenState = true"
  (closed)="panelOpenState = false" [formGroup]="field.form">
  <mat-expansion-panel-header>
    <mat-panel-title>Field</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field color="accent">
    <mat-label for="field_id">Id</mat-label>
    <input matInput id="id" type="text" formControlName="@id" placeholder="dtmi:com:example:Thermostat;1" />
  </mat-form-field>
  <br />

  <mat-form-field color="accent">
    <mat-label for="field_name">Name</mat-label>
    <input matInput id="name" type="text" formControlName="name" />
  </mat-form-field>
  <span class="formSpacer"></span>

  <mat-form-field color="accent">
    <mat-label for="field_displayName">Display Name</mat-label>
    <input matInput id="displayName" type="text" formControlName="displayName" />
  </mat-form-field>
  <br />

  <mat-form-field color="accent">
    <mat-label for="field_schema">Schema</mat-label>
    <mat-select [compareWith]="compareSchemas" matNativeControl id="field_schema"
      (selectionChange)="changeSchema($event)" #schema>
      <mat-option *ngFor="let schemaType of schemaTypes" [value]="schemaType">{{schemaType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span class="formSpacer"></span>
  <ng-container *ngIf="isComplex(schema.value)">
    <button mat-raised-button color="primary" (click)="openSchemaEditor()">
      <mat-icon>edit</mat-icon>
      Edit Schema
    </button>
  </ng-container>
  <br />

  <mat-form-field color="accent" style="width: 200px">
    <mat-label for="field_comment">Comment</mat-label>
    <input matInput id="comment" type="text" formControlName="comment" />
  </mat-form-field>
  <span class="formSpacer"></span>

  <mat-form-field color="accent" style="width: 200px">
    <mat-label for="field_description">Description</mat-label>
    <input matInput id="field_description" type="text" formControlName="description" />
  </mat-form-field>
</mat-expansion-panel>