<mat-tree [dataSource]="modelTreeService.treeDataSource" [treeControl]="modelTreeService.treeControl">
  <!-- No children... -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20">
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      {{ getDisplayName(node) }}
    </button>
  </mat-tree-node>

  <!-- Has children... -->
  <mat-tree-node *matTreeNodeDef="let node; when: modelTreeService.hasChild" matTreeNodePadding matTreeNodePaddingIndent="20">
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon>{{modelTreeService.treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}</mat-icon>
      {{ getDisplayName(node) }}
    </button>
  </mat-tree-node>
</mat-tree>