<mat-expansion-panel    class="mat-elevation-z5"
                        [expanded]="panelOpenState"
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        [formGroup]="telemetry.form">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <id-name-header-component               
                [formIndex]="formIndex[1]"
                [formGroupControl]="telemetry"                       
                [panelOpenState]="panelOpenState">getLo
            </id-name-header-component>
        </mat-panel-title>        
    </mat-expansion-panel-header>

    <div class="formSpacer"></div>

    <display-name-description [formIndex]="formIndex[1]" [parentFormGroup]="telemetry.form"></display-name-description>
    <br/>

    <schema-semantic-type-unit type="telemetry" [formIndex]="formIndex[1]" [parentForm]="telemetry"></schema-semantic-type-unit>
    <br/>

    <mat-form-field color="accent" style="width: 630px">
        <mat-label attr.for="telemetry_comment_{{formIndex}}">Comment</mat-label>
        <input matInput id="telemetry_comment_{{formIndex}}" type="text" formControlName="comment" />
    </mat-form-field>
</mat-expansion-panel>