<mat-expansion-panel    [expanded]="panelOpenState"
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        [formGroup]="telemetry.form">
    <mat-expansion-panel-header>
        <mat-panel-title>Telemetry</mat-panel-title>
        <mat-panel-description>Define Telemetry</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
        <mat-label attr.for="telemetry_id_{{formIndex}}">Id</mat-label>
        <input matInput id="telemetry_id_{{formIndex}}" type="text" formControlName="id" placeholder="dtmi:com:example:Thermostat;1" />
    </mat-form-field>
    <span class="formSpacer"></span>  

    <mat-form-field appearance="fill">
        <mat-label attr.for="telemetry_type_{{formIndex}}">Type</mat-label>
        <input matInput id="telemetry_type_{{formIndex}}" type="text" formControlName="type" readonly />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field appearance="fill">
        <mat-label attr.for="telemetry_name_{{formIndex}}">Name</mat-label>
        <input matInput id="telemetry_name_{{formIndex}}" type="text" formControlName="name" />
    </mat-form-field>
    <br/>

    <mat-form-field appearance="fill">
        <mat-label attr.for="telemetry_displayName_{{formIndex}}">Display Name</mat-label>
        <input matInput id="telemetry_displayName_{{formIndex}}" type="text" formControlName="displayName" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field appearance="fill">
        <mat-label attr.for="telemetry_description_{{formIndex}}">Description</mat-label>
        <input matInput id="telemetry_description_{{formIndex}}" type="text" formControlName="description" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field appearance="fill">
        <mat-label attr.for="telemetry_comment_{{formIndex}}">Comment</mat-label>
        <input matInput id="telemetry_comment_{{formIndex}}" type="text" formControlName="comment" />
    </mat-form-field>
    <br/>

    <mat-form-field appearance="fill">
        <mat-label attr.for="telemetry_schema_{{formIndex}}">Schema</mat-label>
        <mat-select matNativeControl id="telemetry_schema_{{formIndex}}" formControlName="schema">
            <mat-option *ngFor="let schema of editorService.schemaTypes" [value]="schema"> {{ schema }} </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field appearance="fill">
        <mat-label attr.for="telemetry_semanticType_{{formIndex}}">Semantic Type</mat-label>
        <mat-select matNativeControl id="telemetry_semanticType_{{formIndex}}" formControlName="semanticType">
            <mat-option *ngFor="let semantic of editorService.semantics" [value]="semantic"> {{ semantic }} </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="formSpacer"></span>
</mat-expansion-panel>