<mat-expansion-panel    (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>Command Payload</mat-panel-title>
    <mat-panel-description>Define a Command's payload</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field [formGroup]="commandPayload" appearance="fill">
        <mat-label for="payloadId">Id</mat-label>
        <input matInput id="payloadId" type="text" formControlName="payloadId" placeholder="dtmi:com:example:Thermostat;1" />
    </mat-form-field>
    <span class="formSpacer"></span>  

    <mat-form-field [formGroup]="commandPayload" appearance="fill">
        <mat-label for="payloadName">Name</mat-label>
        <input matInput id="payloadName" type="text" formControlName="payloadName" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field [formGroup]="commandPayload" appearance="fill">
        <mat-label for="displayName">Display Name</mat-label>
        <input matInput id="payloadDisplayName" type="text" formControlName="payloadDisplayName" />
    </mat-form-field>
    <span class="formSpacer"></span>  

    <mat-form-field [formGroup]="commandPayload" appearance="fill">
        <mat-label for="comment">Comment</mat-label>
        <input matInput id="payloadComment" type="text" formControlName="payloadComment" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field [formGroup]="commandPayload" appearance="fill">
        <mat-label for="description">Description</mat-label>
        <input matInput id="payloadDescription" type="text" formControlName="payloadDescription" />
    </mat-form-field>
    <span class="formSpacer"></span>
    
    <mat-form-field [formGroup]="commandPayload" appearance="fill">
        <mat-label for="payloadSchema">Schema</mat-label>
        <mat-select matNativeControl id="payloadSchema" formControlName="payloadSchema">
            <mat-option *ngFor="let schema of editorService.schemaTypes" [value]="schema"> {{ schema }} </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="formSpacer"></span>  
</mat-expansion-panel>