<h1 mat-dialog-title>Command Payload Definition</h1>
<mat-dialog-content [formGroup]="commandPayload.form" style="height: 90%">
  <mat-form-field color="accent" style="width: 100%">
    <mat-label for="id">Id</mat-label>
    <input matInput id="id" type="text" formControlName="@id" placeholder="dtmi:com:example:Thermostat;1" />
  </mat-form-field>
  <br />

  <mat-form-field color="accent" style="width: 45%">
    <mat-label for="name">Name</mat-label>
    <input matInput id="name" type="text" formControlName="name" />
  </mat-form-field>
  <span class="formSpacer"></span>

  <mat-form-field color="accent" style="width: 45%">
    <mat-label for="displayName">Display Name</mat-label>
    <input matInput id="displayName" type="text" formControlName="displayName" />
  </mat-form-field>
  <br />

  <mat-form-field color="accent" style="width: 100%">
    <mat-label for="comment">Comment</mat-label>
    <input matInput id="comment" type="text" formControlName="comment" />
  </mat-form-field>
  <br />

  <mat-form-field color="accent" style="width: 100%">
    <mat-label for="description">Description</mat-label>
    <input matInput id="description" type="text" formControlName="description" />
  </mat-form-field>
  <br />

  <mat-form-field color="accent">
    <mat-label for="schema">Schema</mat-label>
    <mat-select [compareWith]="compareSchemas" matNativeControl id="schema"
      (selectionChange)="changeSchema($event)" [formControl]="schemaDropDownControl" #schema>
      <mat-option *ngFor="let schemaType of getSchemaTypes()"
        [value]="schemaType">{{schemaType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span class="formSpacer"></span>
  <ng-container *ngIf="isComplex(schema.value)">
    <button mat-raised-button color="primary" (click)="openSchemaEditor()">
      <mat-icon>edit</mat-icon>
      Edit Schema
    </button>
  </ng-container>
  <br />

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="commandPayload">
      <mat-icon>save</mat-icon> Save
    </button>
  </div>
</mat-dialog-content>