<mat-expansion-panel    class="mat-elevation-z5"                        
                        [expanded]="panelOpenState"
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        [formGroup]="component.form">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <id-name-header-component               
                [formIndex]="formIndex[1]"
                [formGroupControl]="component"                       
                [panelOpenState]="panelOpenState">
            </id-name-header-component>
        </mat-panel-title>        
    </mat-expansion-panel-header>
    
    <div class="formSpacer"></div>

    <display-name-description [formIndex]="formIndex[1]" [parentFormGroup]="component.form"></display-name-description>
    <br/>

    <mat-form-field color="accent">
        <mat-label attr.for="component_schema_{{formIndex}}">Schema</mat-label>
        <mat-select matNativeControl id="component_schema_{{formIndex}}" formControlName="schema">
            <mat-option *ngFor="let interfaceId of filterInterfacesForExtends(interfaceId)" [value]="interfaceId"> {{ interfaceId }} </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent" style="width: 420px">
        <mat-label attr.for="component_comment_{{formIndex}}">Comment</mat-label>
        <input matInput id="component_comment_{{formIndex}}" type="text" formControlName="comment" />
    </mat-form-field>
</mat-expansion-panel>