 <!-- Displayed when opened in the modal window used for localization. -->
 <ng-container *ngIf="localize">
  <ng-container *ngFor="let languageMap of languageMapFormArray.controls; let i = index">
    <ng-container [formGroup]="getFormGroup(languageMap)">
      <mat-form-field color="accent">
        <mat-label for="locale">Locale</mat-label>
        <mat-select matNativeControl id="locale" formControlName="key">
          <mat-option [value]="locale" *ngFor="let locale of getLocales()">{{locale}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="formSpacer"></span>

      <mat-form-field color="accent" [style]="style">
        <mat-label [attr.for]="id">{{labelText}}</mat-label>
        <input matInput [id]="id" type="text" formControlName="value" />
      </mat-form-field>
      <span class="formSpacer"></span>

      <button mat-raised-button color="primary" (click)="removeLocale(i)">
        <mat-icon>delete</mat-icon>Remove
      </button>
      <br />
    </ng-container>
  </ng-container>
</ng-container>

<!-- Displayed when on a main component. Only show the first/default localized strings. -->
<ng-container *ngIf="!localize">
  <ng-container [formGroup]="getFormGroup(languageMapFormArray.at(0))">
    <mat-form-field color="accent" [style]="style">
      <mat-label [attr.for]="id">{{labelText}} ({{getLocaleFor(0)}})</mat-label>
      <input matInput [id]="id" type="text" formControlName="value" (change)="textChange($event)" />
    </mat-form-field>
  </ng-container>
</ng-container>
