#uploadFiles {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 0;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

mat-form-field {
    width: 500px;
}

button {
    width: 200px;
    left: -200px;
}