#fileAction {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

mat-form-field {
    width: 500px;
}

.browse-button {
    width: 80%;
    left: 100px;
    top: -25px;
}