<h1 mat-dialog-title>Object Schema Definition</h1>
<mat-dialog-content>
<ng-container *ngFor="let field of objectSchemaEditorService.fields;">
    <object-schema [field]="field"></object-schema>
</ng-container>

<mat-action-row>
    <button mat-raised-button color="primary" (click)="addField()">
        <mat-icon>add_circle</mat-icon>&nbsp;New Field
    </button>
</mat-action-row>    
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary">
      <mat-icon>save</mat-icon>Save
    </button>
</div>
</mat-dialog-content>