<mat-toolbar>
  <button mat-button color="accent" (click)="addInterface()"><mat-icon>add_circle</mat-icon> Add Interface</button>
  <mat-divider [vertical]="true" class="vertical"></mat-divider>
  <span class="toolbar-spacer"></span>
  <mat-divider [vertical]="true" class="vertical"></mat-divider>
  <button mat-button color="accent" (click)="openPreviewPanel()"><mat-icon>visibility</mat-icon> Preview DTDL</button>
</mat-toolbar>
<mat-card appearance="outlined">
  <mat-accordion class="flex-accordion">
    <ng-container *ngFor="let interface of interfaces; index as i;">
      <interface-definition class="flex-header" [interface]="interface" [formIndex]="[0, i]" [panelOpenState]="true" (panelToggle)="panelOpenState = $event"></interface-definition>
      <div class="flex-header-button" *ngIf="!panelOpenState">
        <button mat-icon-button color="accent" (click)="delete($event, i)"><mat-icon>cancel</mat-icon></button>
      </div>
      <mat-divider class="flex-divider"></mat-divider>
    </ng-container>    
  </mat-accordion>
</mat-card>