@use 'sass:map';
@use '@angular/material' as mat;
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// default, light, dark, text, foreground, background
$primary: mat.$purple-palette;
$accent: mat.$green-palette;
$warn: mat.$red-palette;

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    )
  )
);

@mixin custom($theme) {  
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');    
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');    
  $is-dark: map.get($color-config, 'is-dark');

  // **************************
  // Start custom theming here
  // **************************

  mat-card {
      background-color: mat.get-color-from-palette($background, 'background') !important;
  }
}

@include custom($my-theme);