<!-- <mat-expansion-panel    class="mat-elevation-z3"
                        [expanded]="panelOpenState"
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        [formGroup]="field.form">
    <mat-expansion-panel-header>
        <mat-panel-title>Field</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
        <mat-label for="name">Name</mat-label>
        <input matInput id="name" type="text" formControlName="name" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field appearance="fill">
        <mat-label>schema</mat-label>
        <mat-select>
            <mat-option *ngFor="let schema of schemaTypes" [value]="schema">{{schema}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-expansion-panel> -->