<mat-drawer-container autosize fullscreen>
    <mat-drawer #menu mode="side" disableClose="true" opened="menuOpenState">
        <button mat-mini-fab (click)="menuOpenState = !menuOpenState" color="primary" style="margin: 10px;">
            <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
        <mat-nav-list>
            <mat-list-item routerLink="/" routerLinkActive="active">
                <mat-icon mat-list-icon>edit</mat-icon>
                <h4 mat-line *ngIf="menuOpenState">Main Editor</h4>
            </mat-list-item>
            <mat-list-item (click)="tree.toggle()">
                <mat-icon mat-list-icon>list_alt</mat-icon>
                <h4 mat-line *ngIf="menuOpenState">Model Tree</h4>
            </mat-list-item>
            <mat-list-item routerLink="import" routerLinkActive="active">
                <mat-icon mat-list-icon>folder_open</mat-icon>
                <h4 mat-line *ngIf="menuOpenState">Import Model</h4>
            </mat-list-item>
            <mat-list-item routerLink="settings" routerLinkActive="active">
                <mat-icon mat-list-icon>settings</mat-icon>
                <h4 mat-line *ngIf="menuOpenState">Settings</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-sidenav-container fullscreen>    
            <mat-sidenav #tree mode="side" [opened]="navOpenState"
                                        (opened)="navOpenState = true"
                                        (closed)="navOpenState = false">
                <model-tree></model-tree>
            </mat-sidenav>      
            <mat-sidenav-content>        
                <router-outlet></router-outlet>
            </mat-sidenav-content>      
        </mat-sidenav-container>
    </mat-drawer-content>
</mat-drawer-container>