<mat-toolbar>
    <button type="button" mat-button (click)="nav.toggle()"><mat-icon>menu</mat-icon></button> 
    <span class="toolbar-spacer"></span>   
    <file-select></file-select>
</mat-toolbar>
<mat-sidenav-container>    
    <mat-sidenav #nav mode="side" [opened]="navOpenState"
                                  (opened)="navOpenState = true"
                                  (closed)="navOpenState = false">
        <model-tree></model-tree>
    </mat-sidenav>
    <mat-sidenav-content>        
        <main-editor></main-editor>
    </mat-sidenav-content>
</mat-sidenav-container>