<mat-expansion-panel    class="mat-elevation-z5"
                        [expanded]="panelOpenState"
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        [formGroup]="relationship.form">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <id-name-header-component               
                [formIndex]="formIndex[1]"
                [formGroupControl]="relationship"                       
                [panelOpenState]="panelOpenState">
            </id-name-header-component>
        </mat-panel-title>        
    </mat-expansion-panel-header>
    
    <div class="formSpacer"></div>

    <display-name-description [formIndex]="formIndex[1]" [parentFormGroup]="relationship.form"></display-name-description>
    <br/>

    <mat-form-field color="accent">
        <mat-label attr.for="relationship_minMultiplicity_{{formIndex}}">Min Multiplicity</mat-label>
        <input matInput id="relationship_minMultiplicity_{{formIndex}}" type="text" formControlName="minMultiplicity" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent">
        <mat-label attr.for="relationship_maxMultiplicity_{{formIndex}}">Max Multiplicity</mat-label>
        <input matInput id="relationship_maxMultiplicity_{{formIndex}}" type="text" formControlName="maxMultiplicity" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent">
        <mat-label attr.for="relationship_target_{{formIndex}}">Target</mat-label>
        <mat-select matNativeControl id="relationship_target_{{formIndex}}" formControlName="target">
            <mat-option *ngFor="let interfaceId of filterInterfacesForExtends(interfaceId)" [value]="interfaceId"> {{ interfaceId }} </mat-option>
        </mat-select>
    </mat-form-field>    
    <br/>

    <mat-form-field color="accent" style="width: 630px">
        <mat-label attr.for="relationship_comment_{{formIndex}}">Comment</mat-label>
        <input matInput id="relationship_comment_{{formIndex}}" type="text" formControlName="comment" />
    </mat-form-field>
    <br/>

    <mat-slide-toggle matNativeControl id="relationship_writable_{{formIndex}}" formControlName="writable">Writable</mat-slide-toggle>
    
    <br/>
    <mat-divider *ngIf="relationship.properties.length > 0"></mat-divider>
    <br/>

    <mat-card appearance="outlined" formArrayName="properties">
        <mat-card-title>Property List</mat-card-title>
        <mat-card-content>
            <mat-accordion>
                <ng-container *ngFor="let capability of getProperties(); let i = index;">
                    <property-definition [property]="capability" [formIndex]="[i, i]" [panelOpenState]="false"></property-definition>
                    <br/>
                </ng-container>
            </mat-accordion>
        </mat-card-content>
    </mat-card>

    <mat-action-row>
        <button mat-raised-button color="primary" (click)="addPropertyToRelationship(relationship)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Property
        </button>        
    </mat-action-row>
</mat-expansion-panel>