<mat-expansion-panel    class="mat-elevation-z5"
                        [expanded]="panelOpenState"
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        [formGroup]="property.form">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <id-name-header-component               
                [formIndex]="formIndex[1]"
                [formGroupControl]="property"                       
                [panelOpenState]="panelOpenState">
            </id-name-header-component>
        </mat-panel-title>        
    </mat-expansion-panel-header>

    <div class="formSpacer"></div>

    <display-name-description [formIndex]="formIndex[1]" [parentFormGroup]="property.form"></display-name-description>
    <br/>

    <mat-form-field color="accent">
      <mat-label attr.for="property_schema_{{formIndex}}">Schema</mat-label>
      <mat-select [compareWith]="compareSchemas" matNativeControl id="property_schema_{{formIndex}}" 
                  (selectionChange)="changeSchema($event)" [formControl]="schemaDropDownControl" #schema>
        <mat-option *ngFor="let schemaType of getSchemaTypes().filter(validSchemaTypes)" [value]="schemaType">{{schemaType}}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="formSpacer"></span>

    <ng-container *ngIf="isComplex(schema.value)">
      <button mat-raised-button color="primary" (click)="openSchemaEditor()">
          <mat-icon>edit</mat-icon>
          Edit Schema
      </button>
    </ng-container>
    <br/>

    <mat-form-field color="accent">
        <mat-label attr.for="property_semanticType_{{formIndex}}">Semantic Type</mat-label>
        <mat-select matNativeControl id="property_semanticType_{{formIndex}}"
                    (selectionChange)="changeSemanticType($event)" [formControl]="semanticTypeDropDownControl" #semanticType>
            <mat-option *ngFor="let semanticType of getSemanticTypes()" [value]="semanticType">{{semanticType}}</mat-option>
        </mat-select>
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent">
        <mat-label attr.for="property_unit_{{formIndex}}">Unit</mat-label>
        <mat-select matNativeControl id="property_unit_{{formIndex}}" formControlName="unit">
            <mat-option *ngFor="let unit of getUnits()" [value]="unit"> {{ unit }} </mat-option>
        </mat-select>
    </mat-form-field>   
    <br/>

    <mat-form-field color="accent" style="width: 630px">
        <mat-label attr.for="property_comment_{{formIndex}}">Comment</mat-label>
        <input matInput id="property_comment_{{formIndex}}" type="text" formControlName="comment" />
    </mat-form-field>
    <br/>

    <mat-slide-toggle matNativeControl id="property_writable_{{formIndex}}" formControlName="writable">Writable</mat-slide-toggle> 
</mat-expansion-panel>