<mat-expansion-panel    class="mat-elevation-z5"
                        [expanded]="panelOpenState"
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        [formGroup]="property.form">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <id-name-header-component               
                [formIndex]="formIndex[1]"
                [formGroup]="property.form"                       
                [panelOpenState]="panelOpenState">
            </id-name-header-component>
        </mat-panel-title>        
    </mat-expansion-panel-header>
    
    <div class="formSpacer"></div>

    <mat-form-field color="accent">
        <mat-label attr.for="property_displayName_{{formIndex}}">Display Name</mat-label>
        <input matInput id="property_displayName_{{formIndex}}" type="text" formControlName="displayName" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent" style="width: 420px">
        <mat-label attr.for="property_description_{{formIndex}}">Description</mat-label>
        <input matInput id="property_description_{{formIndex}}" type="text" formControlName="description" />
    </mat-form-field>
    <span class="formSpacer"></span>    
    <br/>

    <mat-form-field color="accent">
        <mat-label attr.for="property_schema_{{formIndex}}">Schema</mat-label>
        <mat-select matNativeControl id="property_schema_{{formIndex}}" formControlName="schema">
            <mat-option *ngFor="let schema of editorService.schemaTypes" [value]="schema"> {{ schema }} </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="this.objectSchemaEditorService.isObjectSchema(this.property.form.get('schema')?.value)">
        <button mat-raised-button color="primary" (click)="openObjectSchemaEditor()">
            <mat-icon>edit</mat-icon>
            Edit
        </button>
    </ng-container>
    <span class="formSpacer"></span>

    <mat-form-field color="accent">
        <mat-label attr.for="property_semanticType_{{formIndex}}">Semantic Type</mat-label>
        <mat-select matNativeControl id="property_semanticType_{{formIndex}}" formControlName="semanticType"
                    (selectionChange)="changeSemanticType($event)">
            <mat-option *ngFor="let semanticType of editorService.semanticTypes" [value]="semanticType"> {{ semanticType }} </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent">
        <mat-label attr.for="property_unit_{{formIndex}}">Unit</mat-label>
        <mat-select matNativeControl id="property_unit_{{formIndex}}" formControlName="unit">
            <mat-option *ngFor="let unit of getUnits()" [value]="unit"> {{ unit }} </mat-option>
        </mat-select>
    </mat-form-field>   
    <br/>

    <mat-form-field color="accent" style="width: 630px">
        <mat-label attr.for="property_comment_{{formIndex}}">Comment</mat-label>
        <input matInput id="property_comment_{{formIndex}}" type="text" formControlName="comment" />
    </mat-form-field>
    <br/>

    <mat-slide-toggle matNativeControl id="property_writable_{{formIndex}}" formControlName="writable">Writable</mat-slide-toggle> 
</mat-expansion-panel>