<mat-card>
  <mat-card-title>Display Name</mat-card-title>
  <language-map #displayNameComponent labelText="Display Name" [languageMapFormArray]="displayNameFormArray"></language-map>
</mat-card>
<br />

<mat-card>
  <mat-card-title>Description</mat-card-title>
  <language-map #descriptionComponent labelText="Description" [languageMapFormArray]="descriptionFormArray" style="width: 420px"></language-map>
</mat-card>

<mat-action-row>
  <button mat-raised-button color="primary" [mat-dialog-close]="buildFormResult()">
    <mat-icon>save</mat-icon> Save
  </button>
</mat-action-row>