<mat-card appearance="outlined">
  <mat-card-title>Display Name</mat-card-title>
  <div style="margin: 15px">
    <language-map #displayNameComponent [localize]="true" labelText="Display Name"></language-map>
  </div>
</mat-card>
<br />

<mat-card appearance="outlined">
  <mat-card-title>Description</mat-card-title>
  <div style="margin: 15px">
    <language-map #descriptionComponent [localize]="true" labelText="Description" style="width: 420px"></language-map>
  </div>
</mat-card>

<mat-action-row>
  <button mat-raised-button color="primary" [mat-dialog-close]="toFormGroup()">
    <mat-icon>save</mat-icon> Save
  </button>
  <span class="spacer"></span>
  <button mat-raised-button color="primary" (click)="addLocale()">
    <mat-icon>add_circle</mat-icon> Add Locale
  </button>
</mat-action-row>