<mat-expansion-panel    [expanded]="panelOpenState"
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>DTDL Preview</mat-panel-title>
        <mat-panel-description>Preview the DTDL</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill" style="width: 500px;">
        <textarea matInput id="previewPanel"
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="100" readonly>
            {{ dtdlModelMainForm.value | jsonld }}
        </textarea>
    </mat-form-field>

</mat-expansion-panel>