<mat-card>
  <mat-card-title>DTDL Preview</mat-card-title>
  <mat-card-content style="overflow:auto">
    <pre #previewPanel id="previewPanel" style="width: 100%;">
      {{ getJsonLd() | jsonld }}
    </pre>
  </mat-card-content>
</mat-card>
<mat-card-actions class="preview-actions">
  <button mat-raised-button color="accent" class="action-button" aria-hidden="false" aria-label="Validate" (click)="validateModel(previewPanel.innerText)">
    <mat-icon>check_circle</mat-icon> Validate
  </button>
  <button mat-raised-button color="accent" class="action-button" aria-hidden="false" aria-label="Save Model" (click)="saveFile(previewPanel.innerText)">
    <mat-icon>cloud_download</mat-icon> Download
  </button>
  <button mat-raised-button color="accent" class="action-button" aria-hidden="false" aria-label="Copy Model" [cdkCopyToClipboard]="previewPanel.innerText">
    <mat-icon>content_copy</mat-icon> Copy
  </button>
  <span class="toolbar-spacer"> </span>
  <button mat-raised-button color="primary" [mat-dialog-close]><mat-icon>close</mat-icon> Close</button>
</mat-card-actions>
<br />

<mat-card *ngIf="validationResults && validationResults.length > 0">
  <mat-list role="list" *ngFor="let value of validationResults">
    <div>
      <h3 matListItemTitle><mat-icon matListItemIcon color="warn"
          style="margin-right: 10px">error_outline</mat-icon>{{value.cause}}</h3>
      <h4 matListItemLine style="margin-left: 35px; margin-top: -15px"><b>Action:</b> {{value.action}}</h4>
    </div>
  </mat-list>
</mat-card>
<mat-card *ngIf="validationResults?.length == 0">
  <div>
    <h3><mat-icon matListItemIcon color="accent">check_circle</mat-icon> DTDL passed validation.</h3>
  </div>
</mat-card>