@use 'sass:map';
@use '@angular/material' as mat;
@include mat.all-component-typographies();
@include mat.core();

// default, light, dark, text, foreground, background
$primary: mat.$purple-palette;
$accent: mat.$green-palette;
$warn: mat.$red-palette;

$my-theme: mat.define-dark-theme((color: (primary: $primary,
        accent: $accent,
        warn: $warn )));

@mixin custom($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $is-dark: map.get($color-config, 'is-dark');

  // ***********************************************
  // Start custom theming here
  // ***********************************************
  //
  // https://material.io/design/color/the-color-system.html#tools-for-picking-colors
  //
  // Theme is set in angular.json (purple-green.css):
  //
  //  - Primary Pallete is 'Purple'
  //  - Accent Pallete is 'Green'
  //
  // Primary 500 = #9C27B0 (same default button color)
  // Accent A200 = #69F0AE (same default icon color)
  // ***********************************************

  .formSpacer {
    margin-right: 15px;
  }

  div.formSpacer {
    height: 1em;
  }

  #previewPanel {
    font-family: 'Courier New', Courier, monospace;
  }

  mat-nav-list mat-list-item {
    height: 50px !important;
    // margin-right: 0px !important;
    // padding-right: 5px !important;
  }

  mat-list-item mat-icon {
    margin-right: 16px !important;
  }

  // mat-icon {
  //   margin-right: 16px !important;
  // }

  mat-expansion-panel-header,
  .mat-expansion-panel-header {
    top: 10px !important;
    height: 64px !important;
  }
  
  mat-sidenav {
    width: 350px !important;
    border-radius: 5px !important;
    padding: 10px !important;
  }

  mat-toolbar {
    height: 50px !important;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: mat.get-color-from-palette($background, card) !important;
  }

  mat-toolbar.mat-toolbar-single-row {
    height: 50px !important;
  }

  mat-toolbar button {
    height: 100% !important;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .vertical {
    display: inline;
    height: 25px;
  }

  .flex-accordion {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-header {
    flex: 5 1 90%;
  }

  .flex-header-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 10px 0 10px;
  }

  mat-divider.flex-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%; 
    flex: 0 0 auto;
  }

  mat-card {
    margin: 15px;
    background-color: mat.get-color-from-palette($background, background) !important;
  }

  mat-card-title {
    margin: 15px !important;
    color: white;
  }

  mat-card-actions.preview-actions {
    display: flex;
    position: sticky;
    z-index: 999;
    bottom: -25px;
    background-color: mat.get-color-from-palette($background, card);
  }

  .selected-panel {
    border: 1px solid mat.get-color-from-palette($primary, 300);
  }

  .action-button {
    background-color: mat.get-color-from-palette($accent, A700);
  }

  .action-button:hover {
    background-color: mat.get-color-from-palette($accent, A200);
  }

  .content-container {
    margin-top: 15px;
    margin-left: 15px;
  }

  .action-button {
    background-color: mat.get-color-from-palette($accent, 200); //rgb(105, 240, 174, .25);
  }

  .action-button:hover {
    background-color: mat.get-color-from-palette($accent, A200); // rgb(105, 240, 174);
  }
}

@include custom($my-theme);
@include mat.all-component-bases($my-theme);