@use 'sass:map';
@use '~@angular/material' as mat;
@include mat.core();

// default, light, dark, text, foreground, background
$primary: mat.$purple-palette;
$accent: mat.$green-palette;
$warn: mat.$red-palette;

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    )
  )
);

@mixin custom($theme) {  
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');    
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');    
  $is-dark: map.get($color-config, 'is-dark');

  // ***********************************************
  // Start custom theming here
  // ***********************************************
  //
  // https://material.io/design/color/the-color-system.html#tools-for-picking-colors
  //
  // Theme is set in angular.json (purple-green.css):
  //
  //  - Primary Pallete is 'Purple'
  //  - Accent Pallete is 'Green'
  //
  // Primary 500 = #9C27B0 (same default button color)
  // Accent A200 = #69F0AE (same default icon color)
  // ***********************************************

    .formSpacer {
        margin-right: 15px;
    }

    #previewPanel {
        font-family: 'Courier New', Courier, monospace;
    }

    mat-expansion-panel-header {
        height: 54px;
    }

    id-name-header-component, .id-name-header-component {
        height: 2.7em;
        transition: all .5s;
    }

    mat-sidenav {
        width: 250px;
        border-radius: 5px;
        padding: 10px;
    }

    .toolbar-spacer {
        flex: 1 1 auto;
    }

    .mat-expansion-panel-header {
        height: 54px;
    }

    mat-card {
        background-color: mat.get-color-from-palette($background, 'background') !important;
    }
  
    .selected-panel {
      border: 1px solid mat.get-color-from-palette($primary, 300);  
    }

    .action-button {
        background-color: mat.get-color-from-palette($accent, A700);
    }
    
    .action-button:hover {
        background-color: mat.get-color-from-palette($accent, A200);
    }

    .content-container{
        margin-top: 15px;
        margin-left : 15px;
    }
}

@include custom($my-theme);







