.formSpacer {
    margin-right: 15px;
}

#previewPanel {
    font-family: 'Courier New', Courier, monospace;
}

.expansion-panel-field-header {
    margin-top: 10px;
}

id-name-header-component, .id-name-header-component {
    height: 2.7em;
    transition: all .5s;
}