<mat-expansion-panel    class="mat-elevation-z3"
                        [expanded]="panelOpenState"                        
                        [formGroup]="interface.form"
                        [class.selected-panel]="false">
    <mat-expansion-panel-header>
        <mat-panel-title>Interface &nbsp;<mat-divider [vertical]="true" class="vertical"></mat-divider>&nbsp; {{editorService.parseNameFromDtmi(interface.model.id)}}</mat-panel-title>
        <mat-panel-description>Define a DTDL Model Interface</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field color="accent">
        <mat-label attr.for="interface_context_{{formIndex}}">Context</mat-label>
        <input matInput id="interface_context_{{formIndex}}" type="text" formControlName="context" readonly propertyFormatter />
    </mat-form-field>
    <span class="formSpacer"></span>
    <button mat-raised-button color="primary" (click)="addContext($event, interface)"><mat-icon>add_circle</mat-icon> Add Context</button>
    <br/>

    <mat-form-field color="accent">
        <mat-label attr.for="interface_type_{{formIndex}}">Type</mat-label>
        <input matInput id="interface_type_{{formIndex}}" type="text" formControlName="type" readonly />        
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent">
        <mat-label attr.for="interface_id_{{formIndex}}">Id</mat-label>
        <input matInput id="interface_id_{{formIndex}}" type="text" formControlName="id" #interfaceId placeholder="dtmi:com:example:Thermostat;1" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent">
      <mat-label attr.for="interface_extends_{{formIndex}}">Extends</mat-label>
      <mat-select matNativeControl id="interface_extends_{{formIndex}}" formControlName="extends">
          <mat-option *ngFor="let interfaceId of editorService.filterInterfacesForExtends(interfaceId.value)" [value]="interfaceId"> {{ interfaceId }} </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>

    <display-name-description [formIndex]="formIndex[1]" [parentFormGroup]="interface.form"></display-name-description>
    <br/>

    <mat-form-field color="accent" style="width: 630px">
        <mat-label attr.for="interface_comment_{{formIndex}}">Comment</mat-label>
        <input matInput id="interface_comment_{{formIndex}}" type="text" formControlName="comment" />
    </mat-form-field>
    <br/>

    <mat-divider *ngIf="interface.contents.length > 0"></mat-divider>
    <br/>

    <mat-card formArrayName="contents">
        <mat-card-title>Capability List</mat-card-title>
        <mat-card-content>
            <mat-accordion>
                <div *ngFor="let capability of getContents(); let i = index;" style="display: flex;">
                    <ng-container [ngSwitch]="getType(capability)">
                        <ng-container *ngSwitchCase="'Property'">
                            <property-definition [property]="getProperty(capability)" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></property-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Command'">
                            <command-definition [command]="getCommand(capability)" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></command-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Telemetry'">
                            <telemetry-definition [telemetry]="getTelemetry(capability)" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></telemetry-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Component'">
                            <component-definition [component]="getComponent(capability)" [interfaceId]="interfaceId.value" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></component-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Relationship'">
                            <relationship-definition [relationship]="getRelationship(capability)" [interfaceId]="interfaceId.value" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></relationship-definition>
                        </ng-container>
                        <div class="action-row">
                            <button mat-raised-button color="accent" class="action-button" (click)="delete($event, interface)"><mat-icon>delete_outline</mat-icon></button>
                        </div>
                        <mat-divider></mat-divider>
                    </ng-container>
                </div>
            </mat-accordion>
        </mat-card-content>
    </mat-card>

    <mat-action-row>
        <button mat-raised-button color="primary" (click)="editorService.addPropertyToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Property
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addCommandToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Command
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addTelemetryToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Telemetry
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addComponentToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Component
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addRelationshipToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Relationship
        </button>
    </mat-action-row>    
</mat-expansion-panel>