<mat-expansion-panel    class="mat-elevation-z3"
                        [expanded]="panelOpenState"                                                
                        [formGroup]="interface.form"
                        (opened)="open()"
                        (closed)="close()"
                        [class.selected-panel]="false">
    <mat-expansion-panel-header>
        <mat-panel-title><strong>Interface</strong> &nbsp;<mat-divider [vertical]="true" class="vertical"></mat-divider>&nbsp; <em>{{parseNameFromDtmi(interface.model["@id"])}}</em></mat-panel-title>
        <mat-panel-description>Define a DTDL Model Interface</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field color="accent">
        <mat-label attr.for="interface_context_{{formIndex}}">Context</mat-label>
        <mat-select matNativeControl id="interface_context_{{formIndex}}" formControlName="@context" multiple [compareWith]="editorService.compareContexts">
          <mat-option *ngFor="let context of editorService.getContexts() | keyvalue" [value]="context.value"> {{ context.key }} </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="formSpacer"></span>
    <button mat-raised-button color="primary" (click)="addContext($event, interface)"><mat-icon>add_circle</mat-icon> Add Context</button>
    <br/>

    <mat-form-field color="accent">
        <mat-label attr.for="interface_type_{{formIndex}}">Type</mat-label>
        <input matInput id="interface_type_{{formIndex}}" type="text" formControlName="@type" readonly />        
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent">
        <mat-label attr.for="interface_id_{{formIndex}}">Id</mat-label>
        <input matInput id="interface_id_{{formIndex}}" type="text" formControlName="@id" #interfaceId placeholder="dtmi:com:example:Thermostat;1" />
    </mat-form-field>
    <span class="formSpacer"></span> 

    <mat-form-field color="accent">
      <mat-label attr.for="interface_extends_{{formIndex}}">Extends</mat-label>
      <mat-select matNativeControl id="interface_extends_{{formIndex}}" formControlName="extends" multiple>
          <mat-option *ngFor="let interfaceId of editorService.filterInterfacesForExtends(interfaceId.value)" [value]="interfaceId"> {{ interfaceId }} </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>

    <display-name-description [formIndex]="formIndex[1]" [parentFormGroup]="interface.form"></display-name-description>
    <br/>

    <mat-form-field color="accent" style="width: 630px">
        <mat-label attr.for="interface_comment_{{formIndex}}">Comment</mat-label>
        <input matInput id="interface_comment_{{formIndex}}" type="text" formControlName="comment" />
    </mat-form-field>
    <br/>

    <mat-divider *ngIf="interface.contents.length > 0"></mat-divider>
    <br/>

    <mat-card appearance="outlined" formArrayName="contents">
        <mat-card-title><h3>Capabilities</h3></mat-card-title>
        <mat-card-content>
            <mat-accordion class="flex-accordion">
                <ng-container *ngFor="let capability of getContents(); let i = index;">
                    <ng-container [ngSwitch]="getType(capability)">
                        <ng-container *ngSwitchCase="'Property'">
                            <property-definition class="flex-header" [property]="getProperty(capability)" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></property-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Command'">
                            <command-definition class="flex-header" [command]="getCommand(capability)" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></command-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Telemetry'">
                            <telemetry-definition class="flex-header" [telemetry]="getTelemetry(capability)" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></telemetry-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Component'">
                            <component-definition class="flex-header" [component]="getComponent(capability)" [interfaceId]="interfaceId.value" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></component-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Relationship'">
                            <relationship-definition class="flex-header" [relationship]="getRelationship(capability)" [interfaceId]="interfaceId.value" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></relationship-definition>
                        </ng-container>
                        <div class="flex-header-button" >
                          <button mat-icon-button color="accent" (click)="delete($event, interface)"><mat-icon>cancel</mat-icon></button>
                        </div>
                        <mat-divider class="flex-divider"></mat-divider>
                    </ng-container>
                </ng-container>
            </mat-accordion>
        </mat-card-content>
    </mat-card>

    <mat-action-row>
        <button mat-raised-button color="primary" (click)="editorService.addPropertyToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Property
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addCommandToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Command
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addTelemetryToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Telemetry
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addComponentToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Component
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addRelationshipToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Relationship
        </button>
    </mat-action-row>    
</mat-expansion-panel>