<mat-expansion-panel    class="mat-elevation-z3"
                        [expanded]="panelOpenState"                        
                        [formGroup]="interface.form"
                        [class.selected-panel]="false">
    <mat-expansion-panel-header>
        <mat-panel-title>Interface Definition</mat-panel-title>
        <mat-panel-description>Define a DTDL Model Interface</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field color="accent">
        <mat-label for="context">Context</mat-label>
        <input matInput id="context" type="text" formControlName="context" readonly />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent">
        <mat-label for="baseDtmi">Base DTMI</mat-label>
        <input matInput id="baseDtmi" type="text" [formControl]="interface.baseDtmi" />
    </mat-form-field>
    <br/>

    <mat-form-field color="accent">
        <mat-label for="type">Type</mat-label>
        <mat-select matNativeControl id="classType" formControlName="type">
            <mat-option *ngFor="let type of editorService.classTypes" [value]="type"> {{ type }} </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent">
        <mat-label for="id">Id</mat-label>
        <input matInput id="id" type="text" formControlName="id" #interfaceId placeholder="dtmi:com:example:Thermostat;1" />
    </mat-form-field>
    <span class="formSpacer"></span>  

    <mat-form-field color="accent">
        <mat-label for="displayName">Display Name</mat-label>
        <input matInput id="displayName" type="text" formControlName="displayName" />
    </mat-form-field>
    <br/>

    <mat-form-field color="accent">
        <mat-label for="comment">Comment</mat-label>
        <input matInput id="comment" type="text" formControlName="comment" />
    </mat-form-field>
    <span class="formSpacer"></span>

    <mat-form-field color="accent">
        <mat-label for="description">Description</mat-label>
        <input matInput id="description" type="text" formControlName="description" />
    </mat-form-field>
    <span class="formSpacer"></span>
    
    <mat-form-field color="accent">
        <mat-label for="extends">Extends</mat-label>
        <mat-select matNativeControl id="extends" formControlName="extends">
            <mat-option *ngFor="let interfaceId of editorService.filterInterfacesForExtends(interfaceId.value)" [value]="interfaceId"> {{ interfaceId }} </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="formSpacer"></span>

    <br/>
    <mat-divider *ngIf="interface.contents.length > 0"></mat-divider>
    <br/>

    <mat-card formArrayName="contents">
        <mat-card-title>Capability List</mat-card-title>
        <mat-card-content>
            <mat-accordion>
                <div *ngFor="let capability of getContents(); let i = index;" style="display: flex;">
                    <ng-container [ngSwitch]="capability.model.type">
                        <ng-container *ngSwitchCase="'Property'">
                            <property-definition [property]="capability" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></property-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Command'">
                            <command-definition [command]="capability" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></command-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Telemetry'">
                            <telemetry-definition [telemetry]="capability" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></telemetry-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Component'">
                            <component-definition [component]="capability" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></component-definition>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Relationship'">
                            <relationship-definition [relationship]="getRelationship(capability)" [formIndex]="[formIndex[0], i]" [panelOpenState]="false"></relationship-definition>
                        </ng-container>
                        <div class="action-row">
                            <button mat-raised-button color="accent" class="action-button" (click)="delete($event, interface)"><mat-icon>delete_outline</mat-icon></button>
                        </div>
                        <mat-divider></mat-divider>
                    </ng-container>
                </div>
            </mat-accordion>
        </mat-card-content>
    </mat-card>

    <br/>
    <preview-panel [interface]="interface"></preview-panel>

    <mat-action-row>
        <button mat-raised-button color="primary" (click)="editorService.addPropertyToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Property
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addCommandToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Command
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addTelemetryToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Telemetry
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addComponentToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Component
        </button>
        <span class="formSpacer"></span>
        <button mat-raised-button color="primary" (click)="editorService.addRelationshipToInterface(interface)">
            <mat-icon>add_circle</mat-icon>&nbsp;New Relationship
        </button>
    </mat-action-row>    
</mat-expansion-panel>